/* clear fix */
/*.grid:after {
  content: '';
  display: block;
  clear: both;
}*/
/*.pin{
	float: left;
	 margin-bottom: 15px;
}*/

.grid-sizer,
.pin {
  width: 250px;
}
@media screen and (max-width: 290px){
	.pin {
		width: 100%;
	}
}

.gutter-sizer {
  width: 40px;
}

.full-pin-body-content-text ul {
    /* padding: 0; */
    list-style-type: decimal;
    padding: initial;
}


.full-pin-body-content-text ul li {
    list-style-type: decimal;
}

.pin-sabias-que.pin .pin-content-wrapper .pin-link a{   
margin: 25px 0;
    display: block;
    line-height: 2.2em;
    font-weight: 900;
    font-family: "Raleway", sans-serif;
    }
/*.pin .image img {
    width:100%;
}*/
