/* clear fix */
/*.grid:after {
  content: '';
  display: block;
  clear: both;
}*/
/*.pin{
	float: left;
	 margin-bottom: 15px;
}*/

.grid-sizer,
.pin {
  width: 250px;
}

.gutter-sizer {
  width: 40px;
}

/*.pin .image img {
    width:100%;
}*/
