.pins-grid
  padding-right: 15px

.pin
  background: white
  border-radius: 6px
  box-shadow: 0 15px 10px -5px rgba(0,0,0,0.3)
  transition: all 300ms ease-in-out
  break-inside: avoid
  overflow: hidden
  &:hover
    box-shadow: 0 25px 25px -15px rgba(0,0,0,0.3)
  .pin-header
    background-color: yellow
    height: 10px
  .image
    padding-bottom: 0
    img
      top: -1px
  > *:not(:first-child)
    border: none
  .pin-content-wrapper
    padding: 0 20px !important
    background-color: transparent
    h3
      margin-top: 15px
    p.pin-descripcion
      text-align: left
      letter-spacing: 1px
      max-height: 500px
      overflow: hidden
      // white-space: nowrap
      // text-overflow: ellipsis




    .pin-link
      a
        // display: block
        // margin: 0 auto
        text-align: center
        // text-decoration: none
        font-size: .8rem
        // padding: 5px 10px
        // border: 1px solid $link-btn-color
        border-radius: 5px
        // background-color: $btn-primary
        // color: $link-btn-color

  .pin-social
    cursor: pointer
    padding: 0 20px
    height: 50px
    background-color: #FAFAFA
    color: $social-txt
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center
    justify-content: flex-end
    align-content: center
    .pin-social-usr
      display: flex
      align-items: center
      img
        height: 30px
        width: 30px
        border: 1px solid white
        border-radius: 50%
        margin-right: 10px
      span
        font-size: .8em
        color: $social-txt

    .pin-social-interactions
      cursor: pointer
      span
        display: inline-block
        font-size: .8em
      i
        display: inline-block
        // height: 10px
        // width: 10px
        // border-radius: 50%
        // background-color: $test-color
        &.margin-right-20
          margin-right: 20px



//	========================
//  Alquimia
//	========================

.pin-alquimia
  img
    border: 20px solid white
    box-sizing: border-box
  .pin-alquimia-grades
    //background-color: red
    margin: 40px 0
    .star-wrapper
      display: flex
      align-items: center
      justify-content: center
      margin: 5px 0
    span
      margin: 0 auto
      display: block
      font-size: .9em
      text-align: center
    div:nth-child(2)
      margin-bottom: 20px
      
  .pin-content-wrapper
    h3
      margin-top: -10px





//	========================
// Solo por Hoy
//	========================

.pin-solo-por-hoy
  .pin-content-wrapper
    a
      text-align: left
      text-decoration: none
      font-size: 2em
      margin-top: 15px
      display: block


//	========================
// Media
//	========================
.pin-media
  .pin-video-icon
    position: absolute
    top: 30%
    left: 25%
    i
      color: $white


//	========================
// Espejo
//	========================
.pin-espejo
  .image
    img
      padding: 20px
      box-sizing: border-box
  .pin-social
    justify-content: space-between



.pin-header-alquimia
  background-color: $color-alquimia !important
.pin-header-solo-por-hoy
  background-color: $color-solo-por-hoy !important
.pin-header-espejo
  background-color: $color-espejo !important
.pin-header-contexto
  background-color: $color-contexto !important
.pin-header-media
  background-color: $color-media !important
.pin-header-sabias-que
  background-color: $color-sabias-que !important
.pin-header-hoy-pense
  background-color: $color-hoy-pense !important
