//Desarrollo por alfredo@2Gom.com.mx




// - 1.0 Colores
// - 2.0 Tipografía
// - 3.0 Mixins
//

//	========================
// 1.0 Colores
//	========================
$base-color: #FCFFF6
$link-btn-color: orangered
$link-no-btn: black
$btn-primary: #345678
$btn-secondary: #345678
$headers: #DDD
$social-txt: #3E4246
$test-color: pink
$white: white
$black: black
$dark-overlay: rgba(0,0,0,0.6)
$header-menu: #345678
$header-menu-off: lighten($header-menu,60%)
$header-menu-hover: lighten($header-menu,30%)
$p-body-txt: darken($header-menu,10%)
$color-alquimia: #F3B924
$color-solo-por-hoy: #75F1F1
$color-espejo: #658BEA
$color-contexto: #DFF040
$color-media:  #0F2687
$color-sabias-que: #EF3893
$color-hoy-pense: #57ED5F
$color-verdadazos: lighten($color-media, 20%)

//	========================
// 2.0 Tipografias
//	========================

$body-main: 'Lato', sans-serif
$header-main: 'Raleway', sans-serif
$links: 'Raleway', sans-serif
$header-font: 'Raleway', sans-serif
