//Desarrollo por alfredo@2Gom.com.mx




// - 1.0 Colores
// - 2.0 Tipografía
// - 3.0 Mixins
//

//	========================
// 1.0 Colores
//	========================

$link-btn-color: orangered
$link-no-btn: black
$headers: #DDD
$btn-primary: #345634
$social-txt: #3E4246
$test-color: pink

//	========================
// 2.0 Tipografias
//	========================

$body-main: 'Lato', sans-serif
$header-main: 'Lato', sans-serif
